import os

from invenio_i18n import lazy_gettext as _
import oarepo_config as config
from oarepo_config import CommunityWorkflow, IndividualWorkflow, configure_workflows

# glitchtip for reporting incidents
config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(languages=(("cs", _("Czech")),))

config.configure_ui(
    code="physica",
    name=_("Physics Repository"),
    description=_(
        """Physics Repository is an open repository of physics data spanning all scales, from particle physics to crystallography. It provides structured, reusable datasets to support reproducible and cross-disciplinary research."""
    ),
    analytics="matomo"
)

CONFIG_MATOMO_ANALYTICS_URL = "https://www.particle.cz/matomo/"
CONFIG_MATOMO_ANALYTICS_SITE_ID = "4"   # 3 for test, 4 for local
# This hash is generated for the specific inline script used for matomo analytics in our template. It allows us to keep a strict Content Security Policy while still enabling the necessary functionality for analytics.
# To generate this hash, we take the exact content of the inline script and compute its SHA-256 hash, then encode it in base64.
# Hash can be computed online using tools like https://csper.io/hasher
CONFIG_MATOMO_ANALYTICS_SCRIPT_HASH = "'sha256-LijxcmZAnQdoUAaAjiem4HGoASUXHD4hufXkMf/u6AQ='"   # local
# CONFIG_MATOMO_ANALYTICS_SCRIPT_HASH = "'sha256-7ObXqRq0yNSgdMsVqONcHu0LIDpycpAHAm84tIfau1c='"     # test1


# Commenting out local development check to allow get analytics data with local development usage.
MATOMO_ANALYTICS_TEMPLATE = "oarepo_ui/matomo_analytics.html"
MATOMO_ANALYTICS_URL = CONFIG_MATOMO_ANALYTICS_URL
MATOMO_ANALYTICS_SITE_ID = CONFIG_MATOMO_ANALYTICS_SITE_ID
APP_DEFAULT_SECURE_HEADERS["content_security_policy"]["default-src"].append(CONFIG_MATOMO_ANALYTICS_URL)
# To resolve the "Loading the script 'CONFIG_MATOMO_ANALYTICS_URL/matomo.js' violates the following Content Security Policy directive: "script-src 'self' blob: 'wasm-unsafe-eval'" issue,
# we need to allow loading script from matomo url
APP_DEFAULT_SECURE_HEADERS["content_security_policy"]["script-src"].append(CONFIG_MATOMO_ANALYTICS_URL)
# To resolve the "Executing inline script violates the following Content Security Policy directive 'script-src 'self' blob: 'wasm-unsafe-eval''" issue
# with inline script for matomo analytics, we need to add the specific hash of the inline script to the CSP header
APP_DEFAULT_SECURE_HEADERS["content_security_policy"]["script-src"].append(CONFIG_MATOMO_ANALYTICS_SCRIPT_HASH)


# config.configure_communities(
#     # if you have different community roles than owner, curator and member,
#     # you can specify them here
# )

# config.register_workflow(
#     "default",
#     _("Default deposition workflow"),
#     "common.workflows.default.DefaultWorkflowPermissions",
#     "common.workflows.default.DefaultWorkflowRequests",
# )

## community FRAM >>

config.configure_communities(
    # Configure custom community roles if not using the default (owner, curator, member).
    # Leave empty to use default roles.
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_communities
    communities_roles=[
        # note: order matters, roles should be sorted by importance
        # from the most important to the least
        dict(
            name="owner",
            title=_("Community owner"),
            description=_("Can manage community."),
            is_owner=True,
            can_manage=True,
            can_curate=True,
            can_manage_roles=["owner", "curator", "member", "submitter"],
        ),
        dict(
            name="curator",
            title=_("Curator"),
            description=_("Can curate records."),
            can_manage=True,
            can_curate=True,
            can_manage_roles=["member", "submitter"],
        ),
        dict(
            name="submitter",
            title=_("Submitter"),
            description=_("Can submit records to the community."),
            can_manage=False,
            can_manage_roles=[],
        ),
        dict(
            name="member",
            title=_("Member"),
            description=_("Community member with read permissions."),
        ),
    ]
)

configure_workflows(
    IndividualWorkflow(
        publish_without_review=False,
        review_required=True,
        self_review_enabled=True,
        draft_creation_roles=["submitter"],
        publish_without_review_roles=["direct-publisher"],
    ),
    CommunityWorkflow(
        code="community",
        label=_("Default Community Workflow"),
        community_curator_roles=["curator", "owner"],
    ),
)

## community FRAM <<

config.configure_stats()

config.configure_cron()

# to enable datacite, uncomment the following lines
# from common.config.datacite import (
#               enable_datacite,
#               datacite_default_credentials,
#               datacite_community_prefix
# )
# enable_datacite(env)
# datacite_default_credentials(
#               env.INVENIO_DATACITE_PREFIX,
#               env.INVENIO_DATACITE_USERNAME,
#               env.INVENIO_DATACITE_PASSWORD)
# )
# datacite_community_prefix(
#              "biocev",
#               env.INVENIO_DATACITE_BIOCEV_PREFIX,
#               env.INVENIO_DATACITE_BIOCEV_USERNAME,
#               env.INVENIO_DATACITE_BIOCEV_PASSWORD)

# vocabularies:
# config.configure_vocabulary(
#     code="languages",
#     name=_("Languages"),
#     description=_("Language definitions vocabulary."),
#     props={
#         "alpha3Code": {
#             "description": _("ISO 639-2 standard 3-letter language code"),
#             "icon": None,
#             "label": _("Alpha3 code (English)"),
#             "multiple": False,
#             "placeholder": "eng, cze...",
#             "search": False,
#         },
#     },
#     dump_options=True,
# )

# Feel free to add/override configuration options here. List of options can be
# found in the Invenio source code:
# https://github.com/inveniosoftware/invenio-app-rdm/blob/master/invenio_app_rdm/config.py


# einfra oidc
# TODO: move to config.configure_einfra_oidc(env) function and check for all needed variables
env = config.load_configuration_variables()
if os.environ.get("INVENIO_REMOTE_AUTH_ENABLED", "no").lower() in ("true", "yes", "1"):
    from oarepo_oidc_einfra import EINFRA_LOGIN_APP

    OAUTHCLIENT_REMOTE_APPS = {"e-infra": EINFRA_LOGIN_APP}
    # needed for disconnect
    from oarepo_oidc_einfra import config as oarepo_einfra_config

    EINFRA = dict(
        consumer_key=env.INVENIO_EINFRA_CONSUMER_KEY,
        consumer_secret=env.INVENIO_EINFRA_CONSUMER_SECRET,
        **{
            k[len("EINFRA_") :].lower(): getattr(oarepo_einfra_config, k)
            for k in dir(oarepo_einfra_config)
            if k.startswith("EINFRA_")
        },
    )
else:
    OAUTHCLIENT_REMOTE_APPS = {}

WEBPACKEXT_NPM_PKG_CLS = "pynpm:PNPMPackage"

# model registration
from models import atlas_itk_model, sipm_model, fram_model, particles_model

particles_model.register()
sipm_model.register()
fram_model.register()
atlas_itk_model.register()

DASHBOARD_RECORD_CREATE_URL = "/uploads/new"

# sidebar components for record detail view
APP_RDM_DETAIL_SIDE_BAR_TEMPLATES = [
    "invenio_app_rdm/records/details/side_bar/manage_menu.html",
    "invenio_app_rdm/records/details/side_bar/external_resources.html",
    "invenio_app_rdm/records/details/side_bar/keywords_subjects.html",
    "invenio_app_rdm/records/details/side_bar/details.html",
    "invenio_app_rdm/records/details/side_bar/licenses.html",
    # "datasets/record_detail/side_bar/citations.html",
    "oarepo_ui/record_detail/side_bar/export.html",
    "invenio_app_rdm/records/details/side_bar/technical_metadata.html",
]
"""Template names for detail view sidebar components"""

THEME_SHOW_FRONTPAGE_INTRO_SECTION = True
THEME_LOGO = "images/logo-white-en.svg"


# workaround: loading vocabularies
SEARCH_CLIENT_CONFIG["timeout"] = 60

from invenio_rdm_records.fixtures.vocabularies import PrioritizedVocabulariesFixtures

current_vocabulary_fixtures_init = PrioritizedVocabulariesFixtures.__init__


def new_vocabulary_fixtures_init(self, *args, **kwargs):
    current_vocabulary_fixtures_init(self, *args, **kwargs)
    # import vocabularies immedially, not in a background task
    self._delay = False


PrioritizedVocabulariesFixtures.__init__ = new_vocabulary_fixtures_init
